<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>웹서버에서 보내온 페이지</title>
    </head>
    <body>
        <h1>ejs로 만든 두번째 페이지</h1>
        <p>전달받은 이름 : <%= name %></p>
        <a href="/page/first">첫번째 페이지로</a>
    </body>
    
</html>