<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>고객 관리</title>
</head>

<body>

    <div>
        <h3>고객 정보 변경</h3>
    </div>

    <div>
        <form action="/page/update1" method="get">
            <p>전화번호</p>
            <input type="text" name="setValue" value="">
            <p>이름</p>
            <input type="text" name="wherevalue" value="">


            <button>변경</button>
        </form>
    </div>


    <script>

    </script>

</body>

</html>