<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>insert 하는 페이지</title>
</head>

<body>
    <div>
        <h1>데이터 베이스에서 insert 하고자 하는 내용 : <%= insertName %> <%=  insertage%> <%= insertMoblie %>
        </h1>

    </div>
    <div>
        <p> insert 가 실행되었습니다 <%= result %>
        </p>
    </div>
    <div>
        <a href="/page/main">돌아가기</a>
    </div>
</body>

</html>