<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>고객 관리</title>
    </head>
    <body>

        <div>
            <h3>고객 정보 삭제</h3>
        </div>

        <div>
            <form action="/page/delete1" method="get">
                <p>이름</p>
                <input type="text" name="name" value="">
         

                <button>삭제</button>
            </form>
        </div>
 

        <script>
 
        </script>

    </body>
</html>